.row
  .twelvecol.last
    %header
      %h1 the-founder : Eric Waring 
      
.row#home_row
  .twelvecol.last
    .home_wrapper

      .circleBorder
        %article#about-the-feel
          Eric is an experienced IT professional having spent 15 years teaching IT followed by ten years in industry as IT Director.
          He is also a successful photographer having had work published in books, magazines and on websites. 
          <br /><br />This gives him a unique skill set perfectly 
          suited to web and business solution design: a deep understanding of your business needs, excellent communication skills and creativity.
          He also has a strong team of graphic designers backing him up.
          <br /><br />He has degrees in Physics and Computing and is a member of the 
          = link_to 'BCS', '#', :class => 'fbTooltip', :'data-fb-tooltip' => "source:#hiddenBCS"
          <br /><br /> In his 'spare' time he loves listening to alternative (noise!) music and photographing gigs.

      .circlePic#mover
        = image_tag 'coloured_balls.png'

      .abcirc
        .description.blur
          %ul
            %li About:
            %li= link_to 'the-feel', about_path
            %li= link_to 'the-founder', about_founder_path
            %li= link_to 'the-cost', about_cost_path 

#hiddenBCS
  Eric Waring<br />
  = image_tag 'mbcs-logo-colour-small.jpg'
  #smallText
    Click below to visit the website of the<br /><br />
  = link_to ('BCS, The Chartered Institute for IT'), 'http://www.bcs.org/', :class => 'floatbox'
  <br />&nbsp;
  