.row
  .twelvecol.last
    %header
      %h1 the-feel web design, IT consultancy and photography
.row#home_row
  .twelvecol.last
    .home_wrapper
      .images#images
        = image_tag 'disc1.png', :alt => '1', :id => "image_about", :style => "display:block;"
        = image_tag 'disc2.png', :id => "image_services", :alt => '2'
        = image_tag 'disc3.png', :id => "image_portfolio", :alt => '3'
        = image_tag 'disc4.png', :id => "image_contact", :alt => '4'

      .circleBig
        #menu.menu
          = link_to 'about', '', :class => 'about', :id => 'about' 
          = link_to 'services', '', :class => 'services', :id => 'services'
          = link_to 'portfolio', '', :class => 'portfolio', :id => 'portfolio'
          = link_to 'contact', '', :class => 'contact', :id => 'contact'

      .small_circle#circle_about
        .description
          %ul
            %li= link_to 'the-feel', about_path
            %li= link_to 'the-founder', about_founder_path
            %li= link_to 'the-cost', "#"

      .small_circle#circle_services
        .description
          %ul
            %li= link_to 'web', "#"
            %li= link_to 'consultancy', "#"
            %li= link_to 'photography', "#"

      .small_circle#circle_portfolio
        .description
          %ul
            %li= link_to 'web sites', "#"
            %li= link_to 'photography', "#"

      .small_circle#circle_contact
        .description
          %ul
            %li= link_to 'the-feel', "#"
            %li= link_to 'other sites', "#"
            %li= link_to 'links', "#"

    #home_intro
      the-feel offer high quality, bespoke web design, IT consultancy, data services and photography for small businesses. Your one-stop shop for all your IT needs! 
      <br /><br />
      click on the links in the circles to find out more