.row
  .twelvecol.last
    %header
      %h1 the-feel : web development
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          With our extensive business experience we are able to understand your requirements and work closely with you to produce a site which 
          expresses your individuality and 
          =link_to 'USP', '#' 
          whilst maintaining <br />useability for your visitors.<br /><br />
          We use cutting edge web technology to develop bespoke websites using the latest techniques to be found - including some yet to be discovered!<br /><br />
          Technologies we use include HTML5, CSS3, JavaScript, jQuery, MySQL and Ruby on Rails, <br />together ensuring compatibility across the board.<br /><br />
          All our sites are SEO optimised and we can also offer web hosting and email with the first year free.<br />
          Get in touch to discuss your needs.

      .circlePic#mover
        = image_tag 'coloured_balls.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path 
