.row
  .twelvecol.last
    %header
      %h1 the-feel : training
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          Eric has trained hundreds of people in the use of Office software from beginner to very advanced. Also as a 
          teacher he has taught IT/computing, Physics and Maths to A-level. Please 
          =mail_to 'ericw@the-feel.co.uk', 'contact', :subject => 'Training/tutoring Enquiry' 
          him for further details on training in <br /><br />
          %ul
            %li Word/Excel/Access
            %li Macros / VB (Visual Basic)
            %li Photoshop / Lightroom
            %li Database development
            %li Network management<br /><br />
          or tutoring at GCSE/A-level in<br /><br />
          %ul
            %li IT / Computing
            %li Physics
            %li Maths
            


      .circlePic#mover
        = image_tag 'dome2.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path  
