.row
  .twelvecol.last
    %header
      %h1 the-feel : IT Consultancy
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          We can offer advice, training, installation and/or troubleshooting on any or all of the following.<br /><br />
          %ul
            %li PC Repairs/troubleshooting 
            %li Firewalls
            %li Anti-virus  
            %li Internet Connectivity 
            %li Networking 
            %li Email  
            %li File sharing / servers   
            %li Training 
            %li Connecting offices 
            %li Remote/home working 
            %li Purchasing advice 
            %li Getting continuous support 


          <br />Please 
          =mail_to 'ericw@the-feel.co.uk', 'contact' 
          us for further details.
      .circlePic#mover
        = image_tag 'coloured_balls.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path  
