.row
  .twelvecol.last
    %header
      %h1 the-feel : photography
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          On top of the IT work we are pleased to be able to offer a top quality photography service for
          <br /><br />
          %ul
            %li products<br /><br />
            %li interiors<br /><br />
            %li staff<br /><br />
            %li abstract pieces<br /><br />
            %li music and<br /><br />
            %li events.


      .circlePic#mover
        = image_tag 'sheffield2.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path  
