.row
  .twelvecol.last
    %header
      %h1 the-feel : photography
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#about-the-feel
          interiors, products, staff. Abstract, commission, music, events.


      .circlePic#mover
        = image_tag 'coloured_balls.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path  
