.row
  .twelvecol.last
    %header
      %h1 the-feel : the-services 
      
.row#home_row
  .twelvecol.last
    .content_wrapper

      .circleBorder
        %article#services
          the-feel are able to offer the following high quality, bespoke services at competitive rates, please click on the links below for further details:<br /><br />
          %ul.articleblur
            %li= link_to 'Web site development and design', services_web_path 
            %li= link_to 'IT consultancy', services_consult_path
            %li= link_to 'Data processing and database work',services_consult_path
            %li= link_to 'IT training and tutoring', services_training_path
            %li= link_to 'Photography', services_photo_path
          <br />we can also offer combinations of the above with substantial discounts - please get in 
          =mail_to 'ericw@the-feel.co.uk', 'touch', :subject => 'the-feel services enquiry'
          to discuss your requirements!

      .circlePic#mover
        = image_tag 'greenbubbles.png'

      .abcirc
        .description.blur
          %ul
            %li Services:
            %li= link_to 'web design', services_web_path
            %li= link_to 'consultancy', services_consult_path
            %li= link_to 'training', services_training_path 
            %li= link_to 'photography', services_photo_path 

#hiddenBCS
  Eric Waring<br />
  = image_tag 'mbcs-logo-colour-small.jpg'
  #smallText
    Click below to visit the website of the<br /><br />
  = link_to ('BCS, The Chartered Institute for IT'), 'http://www.bcs.org/', :class => 'floatbox'
  <br />&nbsp;
  