-# coding: UTF-8
!!!
%html.no-js
  %head
    %title the-feel: web design, IT consultancy and photography
    %meta(name="description" content="a description")
    %meta(name="author" content="the-feel : Eric Waring")
    /%meta(name="copyright" content="Copyright the-feel #{Time.now.year}. All rights reserved.")
    
    = stylesheet_link_tag "blueprint/screen"
    = stylesheet_link_tag "floatbox.css"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "floatbox.js"
    /[if lte IE 7]
      = stylesheet_link_tag "menufix_ie7"
    /[if lt IE 9]
      = stylesheet_link_tag "blueprint/ie"
      = stylesheet_link_tag "menufix_ie"
    /[if lt IE 10]
      /= stylesheet_link_tag "ie_menublur"

    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is a?(String)

    #the_wrapper.container
      .row
        .twocol#sidebar
          = image_tag 'logos/the-feel-web-logo1.png', :id => 'logo'
          %nav.bmenu.blur
            %ul
              %li.transit= link_to 'home', home_path
            %ul.headera
              %li.transit= link_to 'about', about_path
              .allsubmenu
                %li.transit.submenua= link_to 'about the-feel', about_path
                %li.transit.submenua= link_to 'about the-founder', about_founder_path
                %li.transit.submenua= link_to 'about the-cost', about_cost_path
            %ul.headera
              %li.transit= link_to 'services', services_path
              .allsubmenu
                %li.transit.submenu= link_to 'web design', services_web_path
                %li.transit.submenu= link_to 'consultancy', services_consult_path
                %li.transit.submenu= link_to 'training', services_training_path 
                %li.transit.submenu= link_to 'photography', services_photo_path 
            %ul
              %li= link_to 'portfolio', home_path 
            %ul
              %li= link_to 'concepts', home_path
            %ul
              %li= link_to 'contact', contact_path
        .eightcol#mainContent
          =yield
        .twocol.last
  
