-# coding: UTF-8
!!!
%html
  %head
    %title the-feel: web design, IT consultancy and photography
    %meta(name="description" content="a description")
    %meta(name="author" content="the-feel : Eric Waring")
    /%meta(name="copyright" content="Copyright the-feel #{Time.now.year}. All rights reserved.")
    
    = stylesheet_link_tag "blueprint/screen"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    /[if IE]
      = stylesheet_link_tag "ie_menublur"
    /[if lte IE 7]
      = stylesheet_link_tag "menufix_ie7"
    /[if lt IE 9]
      = stylesheet_link_tag "blueprint/ie"
      = stylesheet_link_tag "menufix_ie"
    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is a?(String)
    #the_wrapper.container
      .row
        .twocol#sidebar
          = image_tag 'logos/the-feel-web-logo1.png'
          %nav.bmenu
            %ul
              %li= link_to 'home', home_path
            %ul.headera
              %li= link_to 'about', #
              %li.submenu= link_to 'about the-feel', about_path
              %li.submenu= link_to 'about the-founder', about_path
              %li.submenu= link_to 'about the-costs', about_path
            %ul
              %li= link_to 'services', home_path
              %li= link_to 'portfolio', home_path 
              %li= link_to 'concepts', home_path
              %li= link_to 'contact', contact_path
        .eightcol
          =yield
        .twocol.last

